<style>
h1{
	text-align: center;
}

#loadingMsg{
	text-align: center;
	margin: 10px;
}

body{
	background-color: #E6E6E6;
	font-family: 'Helvetica';
	margin: 10;
	padding: 10;
	vertical-align: center;
	text-align: center;;

}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

/**/
#slider, #slider ul{position:relative; width:960px; height:380px;}
#slider ul{display:block; overflow:hidden; margin:0; padding:0; list-style:none;}
#slider li{position:absolute; top:0; width:160px; height:355px; padding:11px; color:#9FA4AA; background-color:#2B2B2B; border:1px solid #464646; overflow:hidden;}
#slider li img, #slider li h2, #slider li p{margin:0; padding:0; font-weight:normal; line-height:normal;}
#slider li img{width:150px; height:110px; margin:0 0 10px 0; padding:4px; border:1px solid #161616;}
#slider li h2{margin-bottom:10px; padding-bottom:10px; font-size:16px; font-weight:bold; text-align:center; color:#ACACAC; background-color:#2B2B2B; border-bottom:1px solid #464646;}
#slider li p{line-height:1.6em; margin:0 0 12px 0;}
#slider li p.readmore{margin:0; text-align:right;}
#slider li p.readmore a{font-weight:bold; line-height:normal; color:#ACACAC; background-color:#2B2B2B; text-decoration:none;}





</style>