h1{
	text-align: center;
}

#loadingMsg{
	text-align: center;
	margin: 10px;
}

body{
	background-color: #A9D0F5;
	font-family: 'Helvetica';
	margin: 10;
	padding: 10;
	vertical-align: center;
	text-align: center;

}
#container{
	text-align: center;
}

#googleMap{
	/*position:center;*/
	/*vertical-align: center;*/
	/*text-align: center;*/
	width:1000px;
	height:600px;
	z-index: -1;
	margin: 0 auto;
}
#fillgauge3{
	position: absolute;
}
.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }